{% extends "base.html" %}
{% block title %}Nova OS{% endblock %}
{% block content %}
<h3>➕ Nova Ordem de Serviço</h3>
<form method="POST">
  <div class="mb-3">
    <label class="form-label">Título</label>
    <input type="text" name="titulo" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Descrição</label>
    <textarea name="descricao" class="form-control" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}
